{% extends "PageBundle::layout.html.twig" %}

{% block block_css %}
    {{ parent() }}
{% endblock %}

{% block slider_js %}
    {{ parent() }}
{% endblock %}


{% block body %}
    <div id="actus">
        {#{% include "PageBundle:Posts:liste.html.twig" with {"posts" : "posts"} %}#}
        {% for post in posts %}
            {{ include('PageBundle:Posts:liste.html.twig', {"posts" : posts}) }}
        {% endfor %}
    </div>
    <div id="histoire">

    </div>
    <div id="races">

    </div>
    <div id="sentier">

    </div>
    <div id="perso">

    </div>
    <div id="footer">

    </div>
{% endblock %}
