{% extends "PageBundle::layout.html.twig" %}

{% block body %}
    <div id="actus">
        {% include "PageBundle:Default:downloadPage.html.twig" %}
    </div>
    <div id="histoire">

    </div>
    <div id="races">

    </div>
    <div id="sentier">

    </div>
    <div id="perso">

    </div>
    <div id="footer">

    </div>
{% endblock %}
