{#{% extends "PageBundle::layout.html.twig" %}#}
{#<div id="navbar">#}
{% block block_css  %}
    {#<link rel="stylesheet" type="text/css" href="{{ asset("bundles/page/css/menus.css") }}">#}
{% endblock %}


<div class="link-right">
        <a href="#">JEU</a>
        <a href="#">HISTOIRE</a>
        <a href="#">MEDIAS</a>
    </div>
    <div class="logo">
        <img src="{{ asset("bundles/page/img/Navbar/Logo_Header_Noara.png") }}" alt="Logo Noara">
    </div>
    <div class="link-left">
        <a href="#">ACTUS</a>
        <a href="#">FORUM</a>
        <a href="#">CONNEXION</a>
        <a href="#">FR</a>
    </div>
{#</div>#}