{% extends "AdminBundle::layout.html.twig" %}
{% block body %}
    <a href="{{ path("show_posts") }}">Posts</a>
    <a href="{{ path("show_races") }}">Races</a>
    <a href="{{ path("show_characters") }}">Personnages</a>
{% endblock %}

