{% extends "AdminBundle::layout.html.twig" %}
{% block body %}
    <div>
        {{ render(controller("AdminBundle:Post:add"), {request : app.request}) }}
    </div>
    {#<div>#}
        {#{{ render(controller("AdminBundle:Races:add"), {request : app.request}) }}#}
    {#</div>#}
    {#<div>#}
        {#{{ render(controller("AdminBundle:Characters:add"), {request : app.request}) }}#}
    {#</div>#}
{% endblock %}

