<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration Noara{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset("") }}">
    <script src="../public/js/semantic.js"></script>
</head>
<body>
<div class="container">
    <div id="titrePage">
        <div class="blkTitrePage">{% block titre_page %}Administration{% endblock %}</div>
        <div class="bltBoutonPage">{% block titre_bouton %}<a href="{{ path("admin_accueil") }}">Acceuil</a>{% endblock %}</div>
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>