<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Administration Noara{% endblock %}</title>
</head>
<body>
<div class="container">
    <div id="titrePage">
        <div class="blkTitrePage">{% block titre_page %}{% endblock %}</div>
        <div class="bltBoutonPage">{% block titre_bouton %}{% endblock %}</div>
    </div>
    {% block body %}{% endblock %}
</div>
</body>
</html>