{% extends "PageBundle:Admin:layout.html.twig" %}

{% block body %}
    <div class="blockBody">
        {% for race in races %}
            <div class="blocKRace">
                <div class="name">{{ race.name }}</div>
                <div class="content">{{ race.content }}</div>
                {% if race.active == 1 %}
                    <div class="enable">Active</div>
                {% else %}
                    <div class="disabled">Désactivé</div>
                {% endif %}
                <div class="btnEdit"><a href="{{ path("admin_races_edit", {"idRaces" : race.id}) }}">Modification</a></div>
                <div class="btnDisabled"></div>
                <div class="btnDelete"><a href="{{ path("admin_races_deleted", {"idRaces" : race.id}) }}">Supprimer</a></div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
