{#{% extends "PageBundle::layout.html.twig" %}#}

{#{% block block_css %}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset("bundles/page/css/histoire.css") }}">#}
{#{% endblock %}#}

{#{% block body %}#}
        <div class="content-histoire">
            <div class="title-page">l'histoire</div>
            <div class="title-histoire">noara, the iron tears</div>
            <div class="content-histoire">
                que ce soit pour suivre, pour le pouvoir, l'honneur, ou tout simplement par pur plaisir, peu
                importe la raison en vérité ... les quatre peuples qui arpentent les terres de noara depuis plus de deux
                mille ans n'ont jamais eu d'autres choix que de combattre.
            </div>
            <div class="content-button-histoire">
                <div class="line-button-histoire"></div>
                <div class="histoire-button">en savoir plus</div>
            </div>
        </div>
{#{% endblock %}#}
