#carrousel-race {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permet de garder le ratio de du background lors de l'agrandissement de la fenetre */
    background: url("../img/SliderRaces/Backgrounds_3.png") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.race-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#race-name {
    font-size: 5em;
    font-family: "Shkoder 1989";
    color: black;
    margin-top: 0;
}

.race-content p:nth-child(2) {
    font-size: 1.5em;
    font-family: "Avenir Light";
    color: black;
}

.content-race-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-race-slider img {
    width: 240px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
}

.next {
    position: fixed;
    top: 50%;
    right: 20px;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
}

.prev {
    position: fixed;
    top: 50%;
    left: 20px;
    color: black;
    width: 50px;
    height: 50px;
    border: 1px solid grey;
    border-radius: 3px;
}

.next .prev {
}

.prev:before {
    margin-left: 14px
}

.next:before {
    margin-left: 17px;
}

.prev:before:hover {
    opacity: 0.5;
}

.button {
    display: flex;
    background-color: #060512;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    border-radius: 4px;
    width: 120px;
    height: 35px;
}

.line {
    display: none;
}

#race-name {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    margin-bottom: 45px;
    text-transform: uppercase;
}

#content {
    display: none;
}

#content-button {
    color: white;
    font-family: "SHKODER 1989";
    text-transform: uppercase;
    align-self: center;
    width: auto;
    font-size: 17px;
}

.button:hover {
    opacity: 0.5;
}

@media screen and (min-width: 530px) {
    .content-race-slider img {
        width: 320px;
        height: auto;
    }

    .button {
        width: 150px;
        height: 45px;
    }
}

@media screen and (min-width: 780px) {
    .race-content {
        display: flex;
        flex-direction: column;
        /*padding-right: 4em;*/
        /*width: 400px;*/
    }

    #race-name {
        margin-bottom: 15px;
        letter-spacing: 5px;
    }

    #content {
        display: block;
        width: 50%;
        font-family: "Avenir Light";
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 13px;
    }

    .prev {
        left: 35px;
    }
}

@media screen and (min-width: 1280px) {
    #carrousel-race {
        align-items: flex-start;
    }

    .content-race-slider {
        flex-direction: row-reverse;
        margin-left: 9em;
        align-items: center;
    }

    .content-race-slider img {
        width: 470px;
    }

    .race-content {
        align-items: flex-start;
        padding-right: 4em;
        width: 435px;
    }

    #race-name {
        font-size: 58px;
        letter-spacing: 7px;
    }

    #content {
        margin-bottom: 40px;
        width: 28em;
        text-align: start;
        font-size: 15px;
    }

    .next {
        right: 117px;
    }

    .line-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 175px;
        height: 50px;
    }

    .line {
        width: 35px;
        height: 2px;
        background: black;
        display: block;
        margin-left: -35px;
    }
}

/*@media screen and (min-width: 1500px) {*/
    /*#carrousel-race {*/
        /*flex-direction: row;*/
        /*justify-content: flex-start;*/
        /*align-items: center;*/
    /*}*/

    /*#race-name {*/
        /*letter-spacing: 10px;*/
        /*font-size: 65px;*/
        /*margin-bottom: 20px;*/
    /*}*/

    /*.prev {*/
        /*left: 50px;*/
    /*}*/

    /*.next {*/
        /*right: 200px;*/
    /*}*/

    /*.race-content {*/
        /*margin-left: -15em;*/
    /*}*/

    /*.content-race-slider img {*/
        /*margin-right: 0;*/
        /*width: 550px;*/
    /*}*/

    /*.button {*/
        /*width: 195px;*/
        /*height: 47px;*/
    /*}*/

    /*#content-button {*/
        /*font-size: 18px;*/
    /*}*/
/*}*/

@media screen and (min-width: 1830px) {
    #carrousel-race {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    #race-name {
        width: 60%;
        letter-spacing: 10px; /*Espace entre chaque lettres*/
        font-size: 76px;
        margin-bottom: 25px;
    }

    .content-race-slider img {
        /*padding-right: 30%;*/
        margin-right: 0;
        width: 550px;
    }

    .race-content {
        margin: 0;
        width: 50em;
        padding: 0;
    }

    .next {
        right: 250px;
    }

    .prev {
        left: 40px;
    }

    #race-name {
        font-size: 65px;
    }

    #content {
        width: 65%;
        font-size: 19px;
    }

    .line {
        width: 40px;
        margin-left: -40px;
    }
}