.date, .title, .post-content {
    text-transform: uppercase;
    color: white;
}

.date {
    font-family: "Avenir Light";
    font-size: 20px;
}

.title {
    font-family: "SHKODER 1989";
    font-size: 3em;
    margin-bottom: 15px;
}

.post-content {
    font-family: "Avenir Book";
    font-size: 15px;
}

.post-content img {
    display: none;
}

.next-post {
    color: white;
    order: 3;
    margin-right: 10px;
}

.prev-post {
    color: white;
    order: 1;
}

.prev-post:before {
    margin-left: 12px
}

.next-post:before {
    margin-left: 14px;
}

.prev-post:hover {
    opacity: 0.5;
}

.next-post:hover {
    opacity: 0.5;
}

#carrousel-post {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content-post-slider {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 35px;
    order: 2;
}

@media screen and (min-width: 870px) {
    .content-post-slider {
        margin-top: 5em;
    }
}