/*********************/
/*       SLIDER      */
/*********************/

/* CSS général */

body {
    margin: 0;
    padding: 0;
}

#carrousel-post {
    position: absolute;
    width: 100%;
    min-height: 1080px;
    /* Permet de garder le ratio de du background lors de l'agrandissement de la fenetre */
    margin:0;
    padding:0;
    padding-bottom: 10em;
    background: url("../img/SliderPosts/Backgrounds_1.png") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.next {
    position: fixed;
    top: 50%;
    right: 4em;
    color: white;
}


.prev {
    position: fixed;
    top: 50%;
    left: 30px;
    color: white;
}

.prev:hover {
    opacity: 0.5;
}

.next:hover {
    opacity: 0.5;
}

.content-post-slider {
    flex-direction: column;
    padding: 16em 19em 0 20em;
}

.post-title {
    color: white;
    font-family: "Shkoder 1989";
    padding-top: 1.5em;
    padding-bottom: 3em;
}

.post-title .title {
    font-size: 4.5em;
}

.post-title .date {
    font-size: 1.5em;
}

.post-content img {
    width: 550px;
    height: auto;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

.post-content p {
    color: white;
    font-family: "Arial Light";
    font-size: 20px;
    justify-content: center;
    margin-right: 10px;
    margin-top: 0;
}

.content-character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7em;
}

.content-character p:first-child {
    font-size: 2em;
    margin: 0;
}

.content-character p:nth-child(2) {
    font-size: 7em;
    margin-left: 1em;
    margin-bottom: 0;
}

.content-character div:last-child {
    align-content: flex-end;
}

.slider-content-character > img {
    margin-left: 7em;
}

.button::before {
    height: 10px;
    width: 100px;
    background: orange;
    content: "";
}

.button {
    background-color: #00B5AD;
    width: 9em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*@font-face {*/
/*font-family: "Avenir Light";*/
/*src: url('/Fonts/Avenir Light') format('eot');*/
/*}*/

@media screen and (max-width: 1120px) {
    #carrousel-post {
        position: relative;
    }

    .next {
        position: fixed;
        top: 50%;
        right: 20px;
        color: white;
    }

    .prev {
        position: fixed;
        top: 50%;
        left: 20px;
        color: white;
    }

/*
    Contenu du slider
 */

    .content-post-slider {
        flex-direction: column;
        margin: 0 4.5em 0 5em;
        padding: 15em 0 0 0;
    }

    /*
        Titre et date
     */
    .post-title {
        padding-top: 1em;
        padding-bottom: 35px;
    }

    .post-title .title {
        font-size: 3.5em;
        font-family: "Shkoder 1989";
        color: white;
    }

    .post-title .date {
        font-size: 1em;
        font-family: "Shkoder 1989";
        color: white;
    }
    /*
        Contenu de l'article, image et descrition
     */
    .post-content{
        font-size: large;
        color: white;
        font-family: "Avenir Light";
    }

    .post-content img {
        width: 420px;
        height: auto;
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
    }

    .post-content p {
        margin-top: 0;
    }

    .slider-post, .slider-races {
        display: flex;
        padding-left : 2em;
        padding-right: 1.5em;
        margin-top: 2.5em;
        width: 320px;
    }
}

@media screen and (max-width: 550px) {
    #carrousel-post {
        position: relative;
    }

    .prev {
        position: fixed;
        top: 50%;
        right: 7px;
        color: white;
    }

    .next {
        position: fixed;
        top: 50%;
        right: 15px;
        color: white;
    }

    /****************************/
    /*    CSS partie article    */
    /****************************/

    .content-post-slider {
        width: auto;
        height: auto;
        margin: 0 2em 0 4.5em;
        flex-direction: column;
        padding: 10em 0 0 0;
    }

    .post-title {
        padding-top: 1em;
        padding-bottom: 20px;
    }

    .post-title .title {
        font-size: 2em;
        font-family: "Shkoder 1989";
        color: white;
    }

    .post-title .date {
        font-size: 1em;
        font-family: "Shkoder 1989";
        color: white;
    }

    .post-content{
        font-size: large;
        color: white;
        font-family: "Avenir Light";
    }

    .post-content img {
        width: 240px;
        height: auto;
        margin: 0 3em 2em 0;
    }

    .slider-post, .slider-races {
        display: flex;
        padding-left : 2em;
        padding-right: 1.5em;
        margin-top: 2.5em;
        width: 320px;
    }
}