#carrousel-race {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Permet de garder le ratio de du background lors de l'agrandissement de la fenetre */
    background: url("../img/SliderRaces/Backgrounds_3.png") no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.race-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#race-name {
    font-size: 5em;
    font-family: "Shkoder 1989";
    color: black;
    margin-top: 0;
}

.race-content p:nth-child(2) {
    font-size: 1.5em;
    font-family: "Avenir Light";
    color: black;
}

.content-race-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-race-slider img {
    width: 240px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    padding-top: 0;
}

.next {
    position: fixed;
    top: 50%;
    right: 20px;
    color: black;
}

.prev {
    position: fixed;
    top: 50%;
    left: 20px;
    color: black;
}

.prev:hover .next:hover {
    opacity: 0.5;
}

.button {
    display: flex;
    background-color: #060512;
    border-radius: 3px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.line {
    display: none;
}

#race-name {
    font-size: 42px;
    font-weight: bold;
    text-shadow: 0 1px 1px black;
    margin-bottom: 45px;
    text-transform: uppercase;
}

#content {
    display: none;
}

.button {
    border: 1px solid black;
    border-radius: 4px;
    width: 120px;
    height: 35px;
}

#content-button {
    color: white;
    font-family: "SHKODER 1989";
    text-transform: uppercase;
    align-self: center;
    width: auto;
    font-size: 17px;
}

.button:hover {
    opacity: 0.5;
}

@media screen and (min-width: 530px) {
    .content-race-slider img {
        width: 320px;
        height: auto;
    }

    .button {
        width: 150px;
        height: 45px;
    }
}

@media screen and (min-width: 780px) {
    .race-content {
        display: flex;
        flex-direction: column;
        /*justify-content: center;*/
        /*align-items: center;*/
        /*text-align: justify;*/
        padding-left: 10%;
        padding-right: 10%;
    }

    #race-name {
        margin-bottom: 15px;
    }

    #content {
        display: block;
        width: 50%;
        font-family: "Avenir Light";
        text-transform: uppercase;
        margin-bottom: 15px;
        font-size: 13px;
    }
}

@media screen and (min-width: 1080px) {
    .content-race-slider {
        flex-direction: row-reverse;
    }

    .content-race-slider img {
        width: 790px;
        margin-right: 90px;
    }

    .race-content {
        align-items: flex-start;
    }

    #race-name {
        font-size: 58px;
    }

    #content {
        margin-bottom: 40px;
        width: 75%;
        text-align: start;
        font-size: 15px;
    }

    .line-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 175px;
        height: 50px;
    }

    .line {
        width: 35px;
        height: 2px;
        background: black;
        display: block;
        margin-left: -35px;
    }
}

@media screen and (min-width: 1980px) {
    
}