/*********************/
/*       SLIDER      */
/*********************/
/*.global {*/
    /*height: 500px;*/
    /*overflow: hidden;*/
/*}*/

@media screen and (max-width: 480px) {
    #carrousel {
        background: url("../img/Background_5.jpg");
        position: relative;
        height: 480px;
        width: 100%;
    }

    .next {
        position: absolute;
        top: 50%;
        right: 0;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: 0;
    }

    /****************************/
    /*    CSS partie article    */
    /****************************/

    .content-post-slider {
        width: auto;
        height: auto;
        margin: 2.5em 2em 0px 5.5em;
        flex-direction: column;
    }

    .post-title {
        padding-bottom: 20px;
    }

    .post-title, .post-content{
        font-size: large;
        color: white;
        font-family: 'Shkoder 1989';
        src: url('/Fonts/Shkoder 1989 Black.eot') format('eot');
    }

    .post-img img {
        width: 250px;
        height: auto;
        margin-bottom: 2.5em;
    }

    .slider-post, .slider-races {
        display: flex;
        padding-left : 2em;
        padding-right: 1.5em;
        margin-top: 2.5em;
        width: 320px;
    }
}

@media screen and (max-width: 767px) {
    #carrousel {
        background: url("../img/Background_5.jpg");
        position: relative;
        /*background: url("../img/Background_5.jpg");*/
        height: 100%;
        /*overflow-x: hidden;*/
        /*overflow-y: visible;*/
        width: 100%;
    }

    #carrousel div {
        display: flex;
    }

    .next {
        position: absolute;
        top: 50%;
        right: 0;
    }

    .prev {
        position: absolute;
        top: 50%;
        left: 0;
    }

    /****************************/
    /*    CSS partie article    */
    /****************************/

    .content-post-slider {
        flex-direction: column;
        margin: 2.5em 2em 0em 5em;
    }

    .post-title {
        padding-bottom: 35px;
    }

    .post-title, .post-content{
        font-size: large;
        color: white;
        font-family: 'Shkoder 1989';
        src: url('/Fonts/Shkoder 1989 Black.eot') format('eot');
    }

    /*.post-head img {*/
        /*float: left;*/
    /*}*/

    .post-img img {
        width: 350px;
        height: auto;
        float: left;
    }

    .post-content p {
        margin-left: 25px;
    }

    .slider-post, .slider-races {
        display: flex;
        padding-left : 2em;
        padding-right: 1.5em;
        margin-top: 2.5em;
        width: 320px;
    }
}

#carrousel {
    position: relative;
    background: url("../img/Background_5.jpg");
    height: 500px;
    overflow-x: hidden;
    overflow-y: visible;
    width: 100%;
    background-size: cover;
}

.slider {
    display: flex;
    position: absolute;
}

/*.slider-content, .slider-content-post, .slider-content-race {*/
    /*display: flex;*/
    /*padding-left : 7em;*/
    /*width: 1903px;*/
/*}*/

.next {
    position: absolute;
    top: 50%;
    right: 0;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0;
}

.suiv:hover {
    background: #0f0f10;
}

.prec:hover {
    background: #0f0f10;
}

.content-character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7em;
}

/*.content {*/
    /*font-size: 22px;*/
/*}*/

.content-character p:first-child {
    font-size: 2em;
    margin: 0;
}

.content-character p:nth-child(2) {
    font-size: 7em;
    margin-left: 1em;
    margin-bottom: 0;
}

.content-character div:last-child {
    align-content: flex-end;
}

.slider-content-character > img {
    margin-left: 7em;
}

.button::before {
    height: 10px;
    width: 100px;
    background: orange;
    content: "";
}

.button {
    background-color: #00B5AD;
    width: 9em;
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'Shkoder 1989';
    src: url('/Fonts/Shkoder 1989 Black.eot') format('eot');
}