body {
    margin: 0;
}

#actus {
    background: url("../img/Media/Background_1.jpg");
    height: 720px;
    background-size: cover;
}

#histoire {
    background: url("../img/Histoire/Background_2.png") ;
    height: 842px;
    margin-top: -7.9em;
    background-size: cover;
}

#races {
    background: url("../img/SliderRaces/Background_3.png");
    margin-top: -7.9em;
    height: 714px;
    background-size: cover;
}

#sentier {
    background: url("../img/Sentier/Background_4.png");
    margin-top: -7.9em;
    height: 1168px;
    background-size: cover;
}

#perso {
    /*background: url("../img/SliderCharacters/");*/
}

#footer {
    background: url("../img/Footer/");
}